/*Reset*/

* {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

ul,
a {
    outline: none;
    text-decoration: none;
    list-style-type: none;
    color: #E5E7EB;
    font-size: 18px;
}
/*Hero section*/
.hero-container,
footer {
    background-color: #1F2937;

}

.hero-container {
    display: flex;
    flex-direction: column;
    height: 400px;
}

.logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    padding: 8px;

}

.logo,
h1 {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
}


.hero-text:nth-child(1) {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bold;
}

.hero-text:nth-child(2) {
    font-size: 18px;
    color: #E5E7EB;
}

.links-right {
    display: flex;
    gap: 20px;

}

a {
    font-size: 18px;
}

/* mouse over link */
a:hover {
    color: hotpink;
    text-decoration: underline;
}

.hero {
    display: flex;
    gap: 30px;
    align-items: center;
    background-color: #1F2937;
    height: 480px;
    justify-content: space-around;


}

.hero>* {
    flex-basis: 22%;

}


.head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;

}


img {
    width: 250px;
}

/* button style*/
button {
    background-color: #3882F6;
    color: white;
    padding: 5px 32px;
    font-size: 17px;
    font-weight: bold;
    border-radius: 12px;
    border: none;

}

button:hover {
    background-color: #2b4d80;
}


/*info section*/

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    gap: 30px;
    color:#1F2937;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 25px;


}

.info-container>* {
    flex-basis: 10%;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.box>img {
    width:200px;
    height:200px;

}


/*Qoute section*/


.qoute {
    color: #1F2937;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
    height: 480px;
    gap: 30px;
}

.right-qoute {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 50%;
}
/*contact section*/

.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    height: 480px;
}

.c-box {
    display: flex;
    width: 60%;
    height: 150px;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    border-radius: 12px;
}

.btn-cont {
    border: 2px solid white;
}


.bold {
    font-weight: bold;
    font-size: 20px;
}
/*footer section*/

footer {
    display: flex;
    justify-content: center;
    color: #F9FAF8;
    font-size: 18px;
}